/* Rounded SVG category icon and matching cutout */
/* Adapted from Stephanie Eckles https://thinkdobecreate.com/ */
// todo: fix view on safari

.card .business-icon {
	stroke: $blue500;
	width: 4.1rem;
	height: 4.1rem;
	position: relative;
	margin-top: -3.9rem;
	margin-right: auto;
	margin-left: auto;
	
	border-radius: 50%;
	background-color: $white;
	z-index: 1;
	/* object-fit: contain; */
	/* filter: drop-shadow(1px 1px 3px $blue900;  */
	
	/* margin-bottom: $size200; */
	/* padding: 0.2rem; */
}

.card:after {
	position: absolute;
  content: "";
	top: -2px;
	right: 50%;
	width: 7.26rem;
	height: 4.1rem;
	transform: translateX(50%);
	background-image: radial-gradient(circle at top,$white 50%,$green300 51%);
	clip-path: circle(50% at 50% 0);
}