/* Rounded SVG category icon and matching cutout */
/* Adapted from Stephanie Eckles https://thinkdobecreate.com/ */
// todo: fix view on safari

.card .business-icon {
	width: 26px;
	height: 26px;
	position: relative;
	margin-top: -46px;
	margin-right: auto;
	margin-left: auto;
	background-color: transparent;
	z-index: 1;
	transform: scale(2.6);
}

.card:after {
	position: absolute;
  content: "";
	top: -2px;
	right: 50%;
	width: 7.26rem;
	height: 4.1rem;
	transform: translateX(50%);
	background-image: radial-gradient(circle at top,$white 50%,$green300 51%);
	clip-path: circle(50% at 50% 0);
}