/* todo: make fun pop up animation */
#mapBox {
	height: 70vh;
	width: 100%;
	border-radius: $size200;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-tip {
  background-color: $green200;
}

.leaflet-popup-content {
  font-family: 'Cabin', sans-serif;
  font-size: $size-base;
  color: $green900;
}

.leaflet-container a.leaflet-popup-close-button {
  color: $blue800;
}