/* TEXT */

body {
	font-family: 'Cabin', sans-serif;
}
h1 {
	font-family: 'Lobster';
	font-size: $size800;
}
h2 {
	font-size: $size500;
	font-weight: 500;
	line-height: 1.1;
}
h3 {
	font-size: $size400;
}
p, a {
	font-size: $size-base;
	max-width: 65ch;
}
article p {
	letter-spacing: 0.7px;
}
article p, article a {
	color: $green700;
}
.main-nav a {
	font-family: 'Lobster';
	font-size: $size700;
	padding: 0 $size-base;
	text-decoration: none;
}
.main-nav a:hover,
.main-nav a:focus {
	color: $green600;
	text-decoration: underline;
}
article a:hover,
article a:focus {
	color: $blue700;
	text-decoration: underline;
}
header .active {
	text-decoration: underline;
}
.business-category {
	color: $blue700;
	letter-spacing: 1.8px;
	font-weight: 700;
	margin: $size600 0 $size200;
	/* max-width: 12ch;
	word-wrap: normal; */
}