$auto-grid-min-size: 300px;
	$page-max-width: 1500px;
	$size-base: 17px;

	/* Major third type scale */
	$size200: $size-base * 0.8;
	$size300: $size-base * 1;
	$size400: $size-base * 1.25;
	$size500: $size-base * 1.563;
	$size600: $size-base * 1.953;
	$size700: $size-base * 2.441;
	$size800: $size-base * 3.052;
	$size900: $size-base * 3.815;

	$blue900: #003d52;
	$blue800: #005875;
	$blue700: #007297;
	$blue600: #008dbc;
	$blue500: #009acf;
	$blue400: #3eb3d7;
	$blue300: #7bcbdf;
	$blue200: #b9e3e7;

	$green900: #10413b;
	$green800: #185f55;
	$green700: #1f7c6f;
	$green600: #3d9967;
	$green500: #5ab65f;
	$green400: #75c25f;
	$green300: #90cd5f;
	$green200: #c3e4a7;

	$white: #f6fbef;