footer {
  overflow: visible;
}


// make sure footer text shows up on top of svg
footer p {
  position: relative;
  z-index: 1;
}

.container-waves {
  position: relative;
  bottom: -40vh;
  left: 0;

  @media (min-width: 400px) {
    bottom: -20vh;
  }
  @media (min-width: 600px) {
    bottom: -10vh;
  }
}

.wave {
  fill: $blue200;
  opacity: .3;
  animation: wave 20s linear;
  animation-iteration-count: infinite;
  overflow-x: visible;
}
#wave2 {
  fill: $blue300;
  animation-duration: 30s;
}
#wave3 {
  fill: $blue400;
  animation-duration: 40s;
}

@keyframes wave {
  to {transform: translateX(-100%);}
}