footer {
  position: relative;
  // overflow: visible;
  // background-color: brown;
  overflow-y: hidden;
}

// make sure footer text shows up on top of svg
footer p {
  position: relative;
  z-index: 1;
}

.container-waves {
  position: absolute;
  left: 0;
  bottom: -10px;
}

.wave {
  fill: $blue200;
  opacity: .3;
  animation: wave 20s linear;
  animation-iteration-count: infinite;
  overflow-x: hidden;
}
#wave2 {
  fill: $blue300;
  animation-duration: 30s;
}
#wave3 {
  fill: $blue400;
  animation-duration: 40s;
}

@keyframes wave {
  to {transform: translateX(-100%);}
}