<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/css/reset.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  {# Add facility for pages to declare an array of critical styles #}
  {% if pageStyles %}
    {% include pageStyles %}
  {% endif %}
  {% include 'partials/svg-icons.html' %}
</head>
<body>
  <header>
    <h1>{{ title }}</h1>
    This is the header
  </header>
  <main>
      {% block stuff %}
      no block stuff :(
      {% endblock %}
  </main>
  <footer>This is the footer</footer>
  {# Page specific scripts #}
  {% if pageScripts %}
    {% include pageScripts %}
  {% endif %}
</body>
</html>