<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#10413b" />
  <meta name="description" content="Blewett Community Business website was created with love by the community for the community. Sponsored by Rooted Shala Physiotherapy and Agata Zurek Web Development. It is designed to be used by locals and visitors alike to keep the economy local and sustainable and to continue the support for local and small businesses.">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/static/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Lobster&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/static/images/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/images/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/images/favicon-16x16.png">
  <link rel="manifest" href="/static/images/site.webmanifest">
  {# Add facility for pages to add styles #}
  {% if pageStyles %}
    {% include pageStyles %}
  {% endif %}
</head>
<body>
  {{ skipLink | safe if skipLink }}
  {%- include 'partials/svg-icons.html' %}
  <div class="parallax-container">
    {% include 'partials/parallax.html' %}
    {%- include 'partials/header.html' %}
    <main>
      {% block stuff %}
      {% endblock %}
    </main>
  {%- include 'partials/footer.html' %}
  </div>
  {# Page specific scripts #}
  {% if pageScripts %}
    {%- include pageScripts %}
  {% endif %}
</body>
</html>