---
permalink: "/static/js/listings.json"
---
[
{% for listing in collections.listings %}
    {
        "{{listing.data.title}}": {
            "geometry": {{ listing.data.geometry | safe }}     
        }
    }{% if not loop.last %},{% endif %}
{% endfor %}
]