<div id="listings" class="auto-grid wrapper">
  {% for listing in listings %}
      <article class="card " data-categories="{{ listing.data.category }}">
        {# <svg class="business-icon block">
          <use xlink:href="#circle"></use>
        </svg> #}
        <p class="business-category">{{ listing.data.category | join(", ") }}</p>
        <div class="business-info">
          <h2>{{ listing.data.title }}</h2>
          {%- if listing.data.about %}
            <div class="group">
                {% if listing.data.about | length > 140 %}
                <details class="about">
                  <summary>{{ listing.data.about | truncate(140, false, ' ... ') | markdownify | safe}}</summary>
                  {{ listing.data.about | markdownify | safe }}
                </details>
              {% else %}
                {{ listing.data.about | markdownify | safe }}
              {% endif %}
            </div>
          {% endif %}
          {% if listing.data.website or listing.data.email or listing.data.phone %}
            <div class="group">
              {% if listing.data.website -%}
                <a class="block" href="{{ listing.data.website }}">
                  <svg class="contact-icon">
                    <use xlink:href="#website"></use>
                  </svg>{{ listing.data.website }}</a>
              {%- endif %}
              {% if listing.data.email -%}
                <a class="block" href="mailto:{{ listing.data.email }}">
                  <svg class="contact-icon">
                    <use xlink:href="#email"></use>
                  </svg>{{ listing.data.email }}</a>
              {%- endif %}
              {% if listing.data.phone -%}
                <a class="block" href="tel:{{ listing.data.phone }}">
                  <svg class="contact-icon">
                    <use xlink:href="#phone"></use>
                  </svg>{{ listing.data.phone }}</a>
              {%- endif %}
            </div>
          {% endif %}
          {% if listing.data.address or listing.data.showMap %}
            <div class="group">
              <a class="block" href="/map?listing={{ listing.data.title | slug }}">
                  <svg class="contact-icon">
                    <use xlink:href="#map-icon"></use>
                  </svg>{{ listing.data.address if listing.data.address else 'map'}}</a>
            </div>
          {% endif %}
          {% if listing.data.social %}
            <div class="group">
              {% for social in listing.data.social -%}
                <a href="{{ social.url }}" aria-label="Find {{listing.data.title}} on {{social.type}}">
                  <svg class="icon social">
                    <use xlink:href="#{{social.type}}"></use>
                  </svg>
                </a>
              {%- endfor %}
            </div>
          {% endif %}
        </div>
      </article>
  {% endfor %}
</div>