
	<div class="parallax parallax-mtn1">
		<div class="parallax-image mtn-1"></div>
	</div>
	<div class="parallax parallax-mtn2">
		<div class="parallax-image mtn-2"></div>
	</div>
	<div class="parallax parallax-fir">
		<div class="parallax-image fir"></div>
	</div>
	<div class="parallax parallax-larch">
		<div class="parallax-image larch"></div>
	</div>
	<div class="parallax parallax-cedar">
			<div class="parallax-image cedar"></div>
	</div>
	<div class="parallax parallax-birch">
		<div class="parallax-image birch"></div>
	</div>
